
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
    background-color: pink;
    margin: 24px;
}

#overview-page {
    background-color: yellow;
    height: 100px;
    display: flex;
    flex-direction: column;

}

.quick-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

.quick-card {
    width: 437.33px;
    height: 119px;
    border-radius: 12px;
    background-color: white;
    color: grey;
}

.dark-card {
    background-color: black;
    color: white;
}


/* Columns Container for columns and sections pots, transactions, budgets, recurring bills */ 

#columns-container {
    display: flex;
    flex-direction: row;
    height: 60%;
    /* background-color: orange; */
    gap: 24px;
}

#overview-page-column-1 {
    width: 45%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#overview-page-column-2 {
    width: 55%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Overview cards styling section */
/* Budget Breakdown Quick Glance Card */
#pots-overview-glance {
    background-color: white;
    height: 218px;
    border-radius: 12px;
}

#transactions-overview-glance {
    background-color: white;
    height: 519px;
    border-radius: 12px;
}

#budgets-overview-glance {
    background-color: white;
    height: 410px;
    border-radius: 12px;
}

#recurringbills-overview-glance {
    background-color: white;
    height: 327px;
    border-radius: 12px;
}




/* Styling for the cards naming section */
#card-name-container {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}